<%= image_tag @portfolio.main_image %>

<h1><%= @portfolio.title %> </h1>
<em><%= @portfolio.subtitle %> </em>
<p><%= @portfolio.body %></p>

<% @portfolio.technologies.each do |t| %>
   <li><%= t.name %></li>
<% end %>	